<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #1e1b1b;
      font-family: Arial, sans-serif;
    "
  >
    <nav
      style="
        width: 100%;
        background-color: #970303;
        padding: 10px 0;
        text-align: center;
      "
    >
      <a
        style="text-decoration: none; color: aliceblue; margin: 0 15px"
        href="/home"
        >Home</a
      >
      <a
        style="text-decoration: none; color: aliceblue; margin: 0 15px"
        href="/listings"
        >Listings</a
      >
      <a
        style="text-decoration: none; color: aliceblue; margin: 0 15px"
        href="/contact"
        >Contact</a
      >
      <a
        style="text-decoration: none; color: aliceblue; margin: 0 15px"
        href="/add-home"
        >Add Home</a
      >
    </nav>
  </body>
</html>
