<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
   <h2><%= message %></h2>
   <div id="user-card">
    <div id="user-pic">
      <svg height="206px" width="206px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-38.83 -38.83 138.33 138.33" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(8.190585000000002,8.190585000000002), scale(0.73)"><rect x="-38.83" y="-38.83" width="138.33" height="138.33" rx="69.165" fill="#bbc5c9" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <ellipse style="fill:#f2f2f2;" cx="30.336" cy="12.097" rx="11.997" ry="12.097"></ellipse> <path style="fill:#f2f2f2;" d="M35.64,30.079H25.031c-7.021,0-12.714,5.739-12.714,12.821v17.771h36.037V42.9 C48.354,35.818,42.661,30.079,35.64,30.079z"></path> </g> </g> </g></svg>
    </div>
    <div id="user-info">
      <h3><%= user.name %></h3>
      <p><%= user.email %></p>
   </div>
</body>
</html>